<html data-theme="cupcake">
    <div style = "background-color:#555843" class="navbar bg-base-100">
        <div class="flex-1">
          <a style = "font-family: Roboto; " href = "/" class="btn btn-ghost normal-case text-xl">Lego Collection</a>
        </div>
        
        


        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
              <li><a href="/about">About</a></li>
               
            </ul>
          </div>
          <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
              <li><a href="/lego/addSet">Add New Set</a></li>
               
            </ul>
          </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a href = "/lego/sets">View Collection</a></li>
             
          </ul>
        </div>
       
      </div >
 

      </html>


      