<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
 
    <div   style = "background-color: #435585;" class="navbar bg-base-100">
        <div class="flex-1">
          <a style = "font-family: Roboto; " href = "/" class="btn btn-ghost normal-case text-xl"> LEGO COLLECTION</i></a>
        </div> 
    <div class = "smtg">
        <div class="flex-auto">
            <ul class="menu menu-horizontal px-1">
              <li><a href="/about">About</a></li> 
            </ul>
          </div>
         
        <div class="flex-auto">
          <ul class="menu menu-horizontal px-1">
            <li><a href = "/lego/sets">View Collection</a></li>
             
          </ul>
        </div>
   
        <div class="flex-auto">
          <ul class="menu menu-horizontal px-1">
            <li>
              <details open="">
                <summary>Account   <% if (session.user) { %> : <%= session.user.username %> <% } %></summary>

                  <ul class="p-2 right-0">


                    <% if (session.user) { %>
                      <li><a class="active" href="/lego/addSet">Add to Collection</a></li>
                      <li><a class="" href="/userHistory">User History</a></li>
                      <li><a class="" href="/logout">Logout</a></li>
                    <% } else { %> 
                      <li><a class="active" href="/login">Login</a></li>
                      <li><a class="" href="/register">Register</a></li>
                    <% } %>
                    
              </ul></details>
            </li>
             
          </ul>
        </div>
      
       
      </div >
 
 
    </div>



    

 



   

      
 
</body>
</html>