<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div style = "background-color: #776B5D"="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/256488692_1038880383630182_1124023529722226886_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=JvQTb503m_UAX_MMLXv&_nc_ht=scontent-ord5-2.xx&oh=00_AfD-JXdTNqm5Xk4y_bLlky7VEs94fPK4U_4WQbxlv_CJcg&oe=6555D693" class="max-w-sm rounded-lg shadow-2xl" />
          <div>
            <h1 class="text-5xl font-bold">This is Sukhad</h1>
            <p class="py-6">LEGO, plastic building-block toys that rose to massive popularity in the mid-20th century. It has been one of the most successful game brands in marketing history.

            </p>
            <a href = "lego/sets">
            <button class="btn btn-primary">View Collection</button></a>
          </div>
        </div>
      </div>
      </div>
</body>
</html>