<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <hr />
    <br />

    <h3>Hello <%= session.user.username %></h3>
    <h3>Hello  </h3>
    <p>Welcome to your dashboard</p>
    <p>Here is the information we have on file for you:</p>
    <h4>userName: <%= user.username %></h4>
    <h4>email: <%= user.email %></h4>
    <a href="/logout">Logout</a>
  </body>
</html>