<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1 class = "first"> This is my technic!!</h1>
 <div class="w-[150px] h-[80px] shadow-2xl bg-white rounded-lg flex justify-center items-center">
        <p class="text-center">shadow-2xl</p>
      </div>
</body>
</html>