@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 600px) {
    .navbar
    {
     flex-direction: column;
      
    } 
    .flex
    {
        flex-direction: column;
         
    }
     
 }
 .imagee {
    width: 200px; /* Set the desired width for your images */
  margin: 10px; 
  }
  