@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 600px) {
    .navbar
    {
     flex-direction: column;
     align-items: flex-start;
    } 
    
    .smtg
    {
        flex-direction: column;
        align-items: flex-start;
        
    }
 }
 .imagee {
    width: 200px; /* Set the desired width for your images */
  margin: 10px; 
  }
 